.ftpconfig
.DS_Store
_var/db.info.php
_var/install.txt
_var/php.version.txt
_var/project.key.txt
_var/table.info.php
_var/site/*
_var/update/
modules/shop/
_tmp/widget/*
layouts/bs4-starter/_var/
layouts/rc-starter/_var/
modules/comment/action/a.oneline_regis.php
modules/comment/action/a.comment_regis.php
modules/member/admin/point_ori.php
modules/member/admin/point_ori.php
