.avatar-wrapper {
  text-align: center;
}

.avatar-wrapper .avatar-photo {
  display: none
}
.avatar-wrapper.active .avatar-photo {
  display: block
}
.avatar-wrapper.active .avatar-blank {
  display: none
}
.avatar-wrapper .avatar-blank > span {
  position: relative;
  display: inline-block;
}
.avatar-wrapper .avatar-blank > span .fa-stack {
  position: absolute;
  right: 0;
  bottom:0
}

.bar.bar-light .nav-inline .nav-link {
  color: #818a91;
}

.grayscale {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.filter {
  filter: alpha(opacity=50);
  opacity: 0.5;
}
