.widget-profile-best-card .rank-icon {
  font-weight: bold;
  min-width: 20px;
  text-align: center;
}

.widget-profile-best-card .card.card-mask .position-relative::before {
  position: absolute;
  content: ' ';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.widget-profile-best-card .card.card-mask .position-relative:hover::before {
  background-color: rgba(0, 0, 0, 0);
}

.widget-profile-best-card .card .position-relative [data-role="avatar"] {
  bottom:0;
  left: 50%;
  margin-left:-32px;
  margin-bottom: -15px
}

.widget-profile-best-card .card-footer .text-muted {
  color: #909090 !important
}

.widget-profile-best-card .card-footer .material-icons {
  font-size: 20px
}

.widget-profile-best-card .serial {
  counter-increment: Serial;
}
.widget-profile-best-card .serial .counter:before {
  content: counter(Serial);
}

.widget-profile-best-card .card-deck {
  margin-top: 1rem;
}
.widget-profile-best-card .card-deck:first-child {
  margin-top: 0;
}
